.app-root {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.app-content {
  display: flex;
  flex-grow: 1;
  overflow: auto; 
}

#gmap {
  flex-grow: 1;
}