.appsidebar-mainasset {
  display: flex;
  flex-direction: column;
}

.appsidebar-subasset-cmdbar {
  display: flex;
  justify-content: space-between;
}

.appsidebar-cont {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.appsidebar-nav-cont {
  flex: 1;
  overflow: auto;
}